/* commons rules */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}

/*******Utility*******
**********************/
.thin{
    width: 60%;
    margin: auto;
}
.wide{
    width: 80%;
    margin: auto;
}

/****** Debug *******
********************/
.debug header{
    height: 100px;
}
.debug .section{
    border: 1px solid black;
    background-color: beige;
    height: 600px;
}
.debug .container.large{
    background-color: aqua;
    height: 600px;
}

.debug .container.thin{
    background-color: cadetblue;
    height: 600px;
}
.debug .container.wide{
    background-color: darkseagreen;
    height: 600px;
}
.debug footer{
    background-color: darkslategray;
}