/* commons rules */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
a{
    text-decoration:none;
}
body{
    font-family: 'Open Sans',sans-serif;
}
/*******Utility*******
**********************/
.thin{
    width: 60%;
    margin: auto;
}
.wide{
    width: 80%;
    margin: auto;
}
.float_left{
    float: left;
}
.float_right{
    float: right;
}
.btn {
    padding: 0.5rem 1rem;
    font-weight: bold; 
}
.btn.color{
    background-color:dodgerblue;
    color: white;
}
/****** Debug *******
********************/

.debug .section{
    border: 1px solid black;
    background-color: beige;
    height: 600px;
}
.debug .container.large{
    background-color: aqua;
    height: 600px;
    width: 1500px;
    margin: auto;
}

.debug .container.thin{
    background-color: cadetblue;
    height: 600px;
    width: 1200px;
}
.debug .container.wide{
    background-color: darkseagreen;
    height: 600px;
    width: 1100px;
}
.debug footer{
    background-color:gray;
}

 */
/********* Header **************
*******************************/
#siteheader{
    position: fixed;
    top: 0;
    width: 100%;
}
.container.head{
    width: 1400px;
    margin: auto;
}
.logo{
    width: 13%
}
    .logo_img{
        padding: 0.8rem 
    }
.links{
    width: 80%;
}
    .link{
        padding: 1rem;
}
    .link a{
        color: black;
        font-weight: bold;
    }

.start{
    width: 7%;
    padding: 1rem;
}

/*****************************
********Main site************/

            /* Hero section */
.section.hero{
    background-color: #B4D0E7;
}
.hero_title{
    
    font-size: 4rem;
    margin: 2rem 0;
}

.hero_img{
    height: 400px;
    padding-left: 2rem;
}
.column.text{
    width: 35%;
}
    .hero p{
    font-size: 0.9rem;
    margin-bottom: 2.5rem;
}
    .info_register{
        font-weight: 600;
        margin: 1rem 0 2rem 0;
        font-size: 0.8rem;
    }
    .scroll_down{
        color: black;
        font-size: 2rem;
    }
.column.image{
    width: 65%;
}