/* commons rules */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    min-width: 1540px;
}
p{
    margin: 1.5rem 0;
    font-size: 15px;
}
h2{
    font-size: 35px;
    margin: 2rem 0;
}
h3{
        font-size: 25px;
    margin-bottom: 1rem;
}
h4{
    margin: 1rem 0;
}
.hr{
        color: gray;
        width: 50px;
        margin: 20px 0;
}
a{
    text-decoration: none;
}
.container.large{
    width: 1500px;
    margin: auto;
}   
.container.thin{
    width: 1000px;
}
.container.wide{
    height: 550px;
    width: 1300px;
}
/*******Utility*******
**********************/

.thin{
    width: 60%;
    margin: auto;
}
.wide{
    width: 80%;
    margin: auto;
}
.float_left{
    float: left;
}
.float_right{
    float: right;
}
.btn.color{
    background-color:dodgerblue;
    color: white;
    padding:0.5rem 14%;
    font-size: medium;
    text-decoration: none;
}
.btn.white{
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    text-decoration: none;
}
.btn:hover{
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.274);
    opacity: 90%;
}
.col_65{
    width: 65%;
}
.col_50{
    width: 50%;
}
.col_40{
    width: 40%;
}            
.col_35{
    width: 35%;
}
.col_30{
    width: 30%;
     height: 450px;
}
.col_33{
    width: 33.3%;
}
.col_20{
    width: 20%;
}
.gray{
    color: lightgray;
}
.centered{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.border{
    border: 1px solid black;
}
.rel{
    position: relative;
}
.hr_short{
    width: 70px;  
}
.icon_min{
    font-size: 8px;
    vertical-align: middle;
}
.full{
        height: 10px;
        width: 10px;
        cursor: pointer;      
}
.crc:hover{
    cursor: pointer;
}
.list_inline li{
    display: inline;
    margin: 1rem; 
}
/*********COLOR UTILITY **************
********************************/
/* color */
.cbrd{
    color:   rgba(97, 8, 43, 1);
}
.clgy{
    color:   rgb(172, 172, 172);
}
.cbbl{
    color:   rgba(0, 97, 255, 1);
}
/* background */
.ltgr{
    background-color: rgba(162, 211, 155, 1);
}
.brd{
    background-color:   rgba(97, 8, 43, 1);
}
.mbl{
    background-color:   rgba(0, 147, 206, 1);
}
.lrd{
    background-color:   rgba(255, 28, 28, 1);
}
.drd{
    background-color:   rgba(213, 0, 31, 1);
}
.lbl{
    background-color:   rgba(180, 208, 231, 1);
}

.dbl{
    background-color:   rgba(13, 36, 129, 1);
}
.ylw{
    background-color:   rgba(255, 216, 48, 1);
}
.lgy{
    background-color:   rgba(244, 245, 245, 1);
}
.bbl{
    background-color:   rgba(0, 97, 255, 1);
}
.blk{
    background-color: black;
}
/****** Debug *******
********************/



/********* Header **************
*******************************/
/* #siteheader{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 100;
}
.container.head{
    width: 1400px;
    margin: auto;
}
.logo{
    width: 13%
}
    .logo_img{
        padding: 0.8rem 
    }
.links{
    width: 80%;
}
    .link{
        padding: 1rem;
}
    .link a{
        color: black;
        font-weight: bold;
    }

.start{
    width: 7%;
    padding: 1rem;
} */
nav{
    background-color: white;
    
    line-height: 80px;
    position: fixed;
    width: 100%;
    min-width: 1500px;
}
nav ul, .logo, .primary_btn{
    display: inline-block;
}
.menu_left{
   margin-left: 50px;
    
}
.menu_right{
    margin-right: 50px;
}
nav a{
    color: black;
    
}
.primary_btn .btn{
    padding: 0.5rem 1rem;
    margin-left: 1.5rem;
}
.logo img{    
    vertical-align: sub;
    margin-right: 1.5rem;
}
/*****************************
********Main site************
*****************************/ /* Usare piu selettori avanzati specialmente per radice nome.
    	                        troppi <h> e <p> con proporzioni simili non raggruppati */
                                /* APPLICARE UNA REGOLA COMUNE PER STRUTTURA RIGA-COLONNA!!!! */
/* Hero section 
*****************/

.section.hero{
    background-color: #B4D0E7;
    padding-top: 8rem;
}
.hero_title{
    
    font-size: 4rem;
    margin: 1rem 0;
}

.hero_img{
    height: 400px;
    padding-left: 2rem;
    margin-top: 20px;
    
    
}
    .info_register{
        font-weight: 600;
        margin: 1rem 0 2rem 0;
        font-size: 0.8rem;
    }
    .scroll_down{
        color: black;
        font-size: 2rem;
    }

/* Planes section *
*******************/

.section.plans{
    padding-top: 8rem;
}

.card{
    border: 1px solid lightgray;
    height: 100%;
    padding: 0 20px;
}
    /* colonna */

    .row.plans{
        margin: 2rem -1rem;
    }
    .row.plans .col_33{
        padding: 0 1rem;
        height: 850px;  
    }
    .ticket{
        padding: 0.5rem;
        text-align: center;
        border-bottom: 1px solid lightgray;
        margin: 0px -20px 25px -20px;
    }
    .col_33 ul{
    list-style: none;
            font-size: 0.9rem;
    }
    li{
    margin: 1rem 0;
    }
    .price{
        font-weight: 900;
    }     
    
    .highlights i{
        color:royalblue;
    }
    /* enterpirse */
    .card.wide{
        width: 100%;
    }


/* Partner Section * 
********************/
.partner .row{
    margin-top: 8rem;
    margin-bottom: 5rem;
}
    .partner img{
        height: 400px;
    }
    .partner .text{
            padding: 20px 0 0 20px;
    }
/* Functions section *
**********************/
.raw.functions{
    margin-bottom: 9rem;
}
.col_33.function {
    margin-top: 4rem;
    padding: 0 1rem;
}
.col_33.function img{
    width: 100%;
}

/****** Company section*******
**************************** */
.scopri{
    color: rgba(0, 97, 255, 1);
    text-decoration: underline;
    font-size: large;
    display: inline-block;
    margin-bottom: 3rem;
    
}
.square .col_40{
    padding: 40px;
    height: 450px;
}
.square .col_50{
    position: relative;
    height: 50%;
}
.square .col_30 img{
    width: 60%;
    filter: invert();
}
.square .col_40 img{
    width: 25%;
}
.trial .col_65{
    padding: 80px 150px 80px 0;
}
.trial .col_35{
    padding: 120px 0 0 70px;
}
/* **********************
*****FAQ SECTION ********/
.frequetly_asked_questions{
    margin: 9rem 0;
}
.faq{
    padding: 2rem 0;
    position: relative;
}
.question, .arrow{
    display: inline;
}
.arrow{
    position: absolute;
    right: 0rem;
}
.appear{
    display: none;
}
.faq:hover .appear{
    display:inline-block;

}
.faq:hover .arrow .fa-chevron-down{
    transform: rotate(0.5turn);
}
/* *******************************
        site footer
******************************/

footer ul{
    list-style: none;
}
.col_20 {
    padding: 100px 0;
}
footer a, .col_20{
    color: white;
}

.footer .language{
    height: 20%;
}