/* commons rules */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
a{
    text-decoration:none;
    color: dodgerblue;
}
body{
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
}
p{
    margin: 1.5rem 0;
    font-size: 15px;
}
h2{
    font-size: 37px;
    margin: 2rem 0;
}
h3{
        font-size: 25px;
    margin-bottom: 1rem;
}
h4{
    margin: 1rem 0;
}
/*******Utility*******
**********************/
.thin{
    width: 60%;
    margin: auto;
}
.wide{
    width: 80%;
    margin: auto;
}
.float_left{
    float: left;
}
.float_right{
    float: right;
}
.btn.color{
    background-color:dodgerblue;
    color: white;
    padding:0.5rem 14%;
    font-size: medium;
}
.btn.white{
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 0.5rem 1rem;
}
.col_50{
    width: 50%;
}
.col_65{
    width: 65%;
}
.col_35{
    width: 35%;
    height: 60px;
}
.col_33{
    width: 33.3%;
}
.gray{
    color: lightgray;
}
/****** Debug *******
********************/

/* .debug .section{
    border: 1px solid black;
    background-color: beige;
    height: 1000px;
} */
.debug .container.large{
    background-color: aqua;
    height: 600px;
    width: 1500px;
    margin: auto;
}

.debug .container.thin{
   /*  background-color: cadetblue; */
   /*  height: 1000px; */
    width: 1000px;
}
.debug .container.wide{
    background-color: darkseagreen;
    height: 550px;
    width: 1150px;
}
.debug footer{
    background-color:gray;
}


/********* Header **************
*******************************/
#siteheader{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}
.container.head{
    width: 1400px;
    margin: auto;
}
.logo{
    width: 13%
}
    .logo_img{
        padding: 0.8rem 
    }
.links{
    width: 80%;
}
    .link{
        padding: 1rem;
}
    .link a{
        color: black;
        font-weight: bold;
    }

.start{
    width: 7%;
    padding: 1rem;
}

/*****************************
********Main site************
*****************************/ /* Usare piu selettori avanzati specialmente per radice nome.
    	                        troppi <h> e <p> con proporzioni simili non raggruppati */
                                /* APPLICARE UNA REGOLA COMUNE PER STRUTTURA RIGA-COLONNA!!!! */
/* Hero section 
*****************/

.section.hero{
    background-color: #B4D0E7;
    padding-top: 3rem;
}
.hero_title{
    
    font-size: 4rem;
    margin: 1rem 0;
}

.hero_img{
    height: 400px;
    padding-left: 2rem;
}
    .info_register{
        font-weight: 600;
        margin: 1rem 0 2rem 0;
        font-size: 0.8rem;
    }
    .scroll_down{
        color: black;
        font-size: 2rem;
    }

/* Planes section *
*******************/

.section.plans{
    padding-top: 8rem;
}

.card{
    border: 1px solid lightgray;
    height: 100%;
    padding: 0 20px;
}
    /* colonna */

    .row.plans{
        margin: 2rem -1rem;
    }
    .row.plans .col_33{
        padding: 0 1rem;
        height: 850px;  
    }
    .ticket{
        padding: 0.5rem;
        text-align: center;
        border-bottom: 1px solid lightgray;
        margin: 0px -20px 25px -20px;
    }
    .col_33 ul{
    list-style: none;
            font-size: 0.9rem;
    }
    li{
    margin: 1rem 0;
    }
    .price{
        font-weight: 900;
    }     
    hr{
        color: gray;
        width: 50px;     
    }
    .highlights i{
        color:royalblue;
    }
    /* enterpirse */

    .card.wide { 
        width: 100%;
    }
    .card.wide .btn{
        text-align: right;
        font-size: 3pxpx;
    }
        
/* Partner Section * 
********************/
.partner .row{
    padding-top: 5rem;
}
    .partner img{
        height: 400px;
    }
    .partner .text{
            padding: 20px 0 0 20px;
    }
/* Functions section *
**********************/
.col_33.function {
    margin-top: 4rem;
    padding: 0 1rem;
}
.col_33.function img{
    width: 100%;
}
            